<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlaySphere | Animes</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:class="main_content">
        <h2><span th:text="${#messages.msg('anime.titulo')}"></span></h2>
        <br>
        <table>
            <thead>
            <tr>
                <th><span th:text="${#messages.msg('lista.th.id')}"></span> </th>
                <th><span th:text="${#messages.msg('lista.th.titulo')}"></span> </th>
                <th><span th:text="${#messages.msg('lista.th.acoes')}"></span> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="anime : ${animeList}">
                <td th:text="${anime.id}"></td>
                <td th:text="${anime.titulo}"></td>
                <td>
                    <button th:attr="onclick=|showModal('infoModal' + ${anime.id})|"><span th:text="${#messages.msg('lista.modal.detalhes')}"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:each="anime : ${animeList}" th:attr="id=${'infoModal' + anime.id}" style="display: none;">
            <br>
            <p>
                <strong><span th:text="${#messages.msg('attr.id')}"></span>:</strong> <span th:text="${anime.id}"></span><br>
                <strong><span th:text="${#messages.msg('attr.titulo')}"></span>:</strong> <span th:text="${anime.titulo}"></span><br>
                <strong><span th:text="${#messages.msg('attr.estudio')}"></span>:</strong> <span th:text="${anime.estudio}"></span><br>
                <strong><span th:text="${#messages.msg('attr.episodios')}"></span>:</strong> <span th:text="${anime.episodios}"></span><br>
                <strong><span th:text="${#messages.msg('attr.categoria')}"></span>:</strong> <span th:text="${anime.categoria.descricao}"></span><br>
                <a th:href="@{/anime/edit/{id}(id = ${anime.id})}"><span th:text="${#messages.msg('lista.modal.action.editar')}"></span></a>
                <span> | </span>
                <a th:href="@{/anime/delete/{id}(id = ${anime.id})}"><span th:text="${#messages.msg('lista.modal.action.deletar')}"></span></a>
            </p>
            <button th:attr="onclick=|hideModal('infoModal' + ${anime.id})|"><span th:text="${#messages.msg('lista.modal.action.fechar')}"></span></button>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>