<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edição de Serie</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:class="main_content">
    <form method="post" th:action="@{/serie/editar/{id}(id=${idSerie})}" th:object="${serie}" class="row g-3">
        <input type="hidden" th:field="${idSerie}">
        <h2><span th:text="${#messages.msg('serie.titulo')}"></span></h2>
        <br>
        <div class="col-md-8">
            <label for="titulo"><span th:text="${#messages.msg('attr.titulo')}"></span>:</label> <input type="text" id="titulo" th:field="*{titulo}">
        </div>
        <div class="col-md-8">
            <label for="criador"><span th:text="${#messages.msg('attr.criador')}"></span>:</label> <input type="text" id="criador" th:field="*{criador}">
        </div>
        <div class="col-md-8">
            <label for="temporadas"><span th:text="${#messages.msg('attr.temporadas')}"></span>:</label> <input type="text" id="temporadas" th:field="*{temporadas}">
        </div>
        <div class="col-md-8">
            <label for="episodiosPorTemporada"><span th:text="${#messages.msg('attr.episodiosPorTemporada')}"></span>:</label> <input type="text" id="episodiosPorTemporada" th:field="*{episodiosPorTemporada}">
        </div>
        <div class="col-md-8">
            <label for="categoria"><span th:text="${#messages.msg('attr.categoria')}"></span>:</label>
            <select id="categoria" th:field="*{categoria}">
                <option name="ROMANCE" value="ROMANCE"><span th:text="${#messages.msg('attr.categoria.ROMANCE')}"></span></option>
                <option name="COMEDIA" value="COMEDIA"><span th:text="${#messages.msg('attr.categoria.COMEDIA')}"></span></option>
                <option name="ACAO" value="ACAO"><span th:text="${#messages.msg('attr.categoria.ACAO')}"></span></option>
                <option name="TERROR" value="TERROR"><span th:text="${#messages.msg('attr.categoria.TERROR')}"></span></option>
                <option name="FANTASIA" value="FANTASIA"><span th:text="${#messages.msg('attr.categoria.FANTASIA')}"></span></option>
            </select>
        </div>
        <div class="text-center mt-4">
            <button type="submit"><span th:text="${#messages.msg('edicao.edicao')}"></span></button>
        </div>
    </form>

    <div th:if="${errors}" class="mt-3 alert alert-danger">
        <ul>
            <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
        </ul>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>